*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to bottom, #10403B, #127369);
    color: #FFFFFF;
    min-height: 100vh;
}

ul, li {
    list-style: none;
}
span {
    font-weight: 550;
}
header {
    background-color: #127369;
    padding: 1rem 2rem;
    color: #FFFFFF;
    font-weight: 550;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
nav ul {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
}
.logo-container {
    display: flex;
    align-items: center; 
    gap: 10px;           
}
.logoAtividade {
    width: 2rem;
    height: 2rem;
}
.menu-links {
    display: flex;
    gap: 65px; 
    margin-right: 4rem;
}

.description{
    display: flex;
}
.textMainContent{
    padding: 4rem 3rem;
    width: 65%;
}
.mainTitle {
    margin-bottom: 2.5rem;
    font-size: 3rem;
    text-transform: uppercase;
}
.mainText{
    width: 70%;
    font-size: 2.25rem;
}
.mainTextAbout {
    font-size: 2.25rem;
    margin-bottom: 1rem;
}
.mainTextCalc{
    width: 95%;
    font-size: 2.25rem;
}
.mainImage{
    padding: 4rem 3rem;
    margin-right: 6rem;
}
.helpUsers {
    display: flex;
    flex-direction: column;
    padding: 0 3rem ;
}
.helpUsersSteps {
    text-transform: uppercase;
}
.calcEnergy {
    display: flex;
    margin-bottom: 2rem;
}
form {
    width: 45%;
    margin-left: 3rem;
}
.selectItens, .inpUseHours, .inpKW{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
label {
    font-weight: bold;
    margin-bottom: .5rem;
}

.ItensToSelect, #useHours, #KW, button {
    width: 18rem;
    background-color: #127369;
    color: #FFFFFF;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #ffffff39;
}

.ItensToSelect {
    font-weight: bold;
}
.progressBar{
    width: 30rem;
    background-color: #127369;
    color: #FFFFFF;
    font-weight: bold;
    font-size: .9rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    border: 1px solid #ffffff39;
    margin-bottom: 2rem;;
}
.helpUsersSection {
    width: 70%;
    background-color: #127369;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid #ffffff39;
    margin: 1rem 0;
}
.grid-cell{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.grid-cell-month{
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
/* .progressBarFill {
    grid-column: 1 / span 2;
    position: relative;
} */

.test {
    display: flex;
}
.tips{
    width: 10rem;
    background-color: #127369;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem 2rem;
    border-radius: 1rem;
    border: 1px solid #ffffff39;
    margin-bottom: 2rem;
    cursor: pointer;
    text-align: center;
}