*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to bottom, #10403B, #127369);
    color: #FFFFFF;
    min-height: 100vh;
}

ul, li {
    list-style: none;
}
span {
    font-weight: 550;
}
header {
    background-color: #127369;
    padding: 1rem;
    color: #FFFFFF;
    font-weight: 550;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
nav ul {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
}
.logo-container {
    display: flex;
    align-items: center; 
    gap: 10px;           
}
.logoAtividade {
    width: 2rem;
    height: 2rem;
}
.menu-links {
    display: flex;
    gap: 10px;
}

.description, .calcEnergy{
    display: flex;
    flex-direction: column;
}
.textMainContent{
    padding: 2rem 1rem;
    width: 100%;
}
.mainTitle {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-transform: uppercase;
}
.mainText, .mainTextAbout, .mainTextCalc{
    width: 100%;
    font-size: 1.25rem;
}
.mainTextAbout {
    margin-bottom: 1rem;
}
/* .mainTextCalc{
    width: 95%;
    font-size: 2.25rem;
} */
.mainImage{
    padding: 0 1rem 2rem 1rem;
    margin-right: 0;
    display: flex;
    justify-content: center;
}

.mainImage img {
    max-width: 100%;
    height: auto;
}

.helpUsers {
    display: flex;
    flex-direction: column;
    padding: 0 1rem ;
}
.helpUsersSteps {
    text-transform: uppercase;
}
/* .calcEnergy {
    display: flex;
    margin-bottom: 2rem;
} */
form {
    width: 100%;
    margin-left: 0;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
}
.selectItens, .inpUseHours, .inpKW{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
label {
    font-weight: bold;
    margin-bottom: .5rem;
}
.calcButton{
    font-weight: bold;
}
.ItensToSelect, #useHours, #KW, button {
    width: 100%;
    background-color: #127369;
    color: #FFFFFF;
    font-size: 1rem;
    padding: .8rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #ffffff39;
}

.ItensToSelect {
    font-weight: bold;
}
.progressBar{
    width: auto;
    background-color: #127369;
    color: #FFFFFF;
    font-weight: bold;
    font-size: .9rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #ffffff39;
    
    margin: 0 1rem 2rem 1rem;
}
.helpUsersSection {
    width: auto;
    margin: 1rem;
    background-color: #127369;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid #ffffff39;
}
.grid-cell, .grid-cell-month{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.grid-cell-month {
    margin-top: .5rem;
}
/* .progressBarFill {
    grid-column: 1 / span 2;
    position: relative;
} */

/* .test {
    display: flex;
} */
.tips{
    width: auto;
    margin: 0 1rem 2rem 1rem;
    background-color: #127369;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem 2rem;
    border-radius: 1rem;
    border: 1px solid #ffffff39;
    cursor: pointer;
    text-align: center;
}

@media (min-width: 768px) {
    header {
        padding: 1rem 2rem;
    
    }
    .menu-links {
        gap: 65px; 
        margin-right: 4rem;
    }
    
    .description, .calcEnergy {
        flex-direction: row; 
        align-items: center;
    }

    .textMainContent {
        padding: 4rem 3rem;
        width: 65%; 
    }

    .mainTitle {
        font-size: 3rem; 
    }

    .mainText, .mainTextAbout, .mainTextCalc {
        font-size: 2.25rem; 
    }

    .mainText {
        width: 70%;
    }

    .mainTextCalc {
        width: 95%;
    }

    .mainImage {
        padding: 4rem 3rem;
        margin-right: 6rem;
    }
    
    .helpUsers {
        padding: 0 3rem;
    }

    form {
        width: 45%; 
        margin-left: 3rem;
        padding: 0;
    }

    .ItensToSelect, #useHours, #KW, button {
        width: 18rem; 
    }

    .progressBar {
        width: 30rem; 
        margin-top: 0;
    }

    .tips {
        width: 10rem;
        margin: 0 0 2rem 0;
    }
}
